body{
    background: url(./assets/2117770-3840x2160-desktop-4k-dark-background.jpg);
    background-color: rgb(247, 249, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    color: white;
}
.login-box{
    width: 100%;
    max-width: 500px;
}
.login-box h1{
    text-align: center;
    margin-bottom: 20px;
}
.container{
    padding: 30px 20px;
}
input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin: 8px 0 15px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
}
.btn{
    width: 100%;
    padding: 10PX;
    background-color: rgb(7, 12, 7);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    margin-bottom: 15px;
}
.btn:hover{
    background-color: white;
    color: black;
}
.btn2{
    padding: 10px 20px;
    margin-top: 10px;
    padding: 5px 15px;
    background-color: rgb(42, 202, 42);
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}
.btn2:hover{
    background-color: black;
}
@media (max-width:600px){
    .container{
        padding: 20px 15px;
    }
    .btn{
        font-size: 0.9rem;
    }
    .btn2{
        font-size: 0.9rem;
    }
    .login-box h1{
        font-size: 1.5rem;
    }
}