body{
    background-color: rgb(247, 249, 247);
    flex-wrap: wrap;
}
.container{
    border: 2px solid black;
    box-shadow: 2px 5px 2px 2px rgb(12, 12, 12);
    border-radius: 5px;
    width: 500px;
    padding: 50px 10px;
    justify-self: center;
    text-align: center;
}
.btn{
    margin-top: 20px;
    padding: 5px 100px;
    background-color: rgb(7, 12, 7);
    border: 3px solid black;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
}
.btn2{
    margin-top: 10px;
    padding: 5px 15px;
    background-color: rgb(42, 202, 42);
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}
